<% provide(:title, @pokemon.name) %>

<div class="text-center">
  <h1 class="text-primary">Pokemon</h1>
</div>

<div class="container my-5">
  <div class="card mx-auto" style="width: 18rem;">
    <img class="card-img-top" src="<%= @pokemon.imagen %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> <%= @pokemon.name %> </h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Weight:</strong> <%= @pokemon.weight %> </li>
      <li class="list-group-item"><strong>Abilities: </strong>
        <ul>
          <% @pokemon.abilities.each do |ability| %>
            <div> <%= ability %> </div>
          <% end %>
        </ul>
      </li>
    </ul>
    <div class="card-body text-center">
      <%= link_to "Back", root_path(:page => session[:page_number]), class: "btn btn-primary" %>
    </div>
  </div>
</div>
